services:
  server:
    image: ghcr.io/collinmurd/groceries-server:latest
    ports:
      - "8000:8000"
    environment:
      MONGO_HOST: mongodb
      OCI_COMPARTMENT_ID: ocid1.tenancy.oc1..aaaaaaaahj7lgknz3zmkz2tabqidllay6c5bjjfydenbwyevkc6jieaevekq
      OCI_INFERENCE_MODEL_ID: ocid1.generativeaimodel.oc1.us-chicago-1.amaaaaaask7dceyapnibwg42qjhwaxrlqfpreueirtwghiwvv2whsnwmnlva

  app:
    image: ghcr.io/collinmurd/groceries-app:latest
    ports:
      - "3000:3000"

  mongodb:
    container_name: groceries-mongodb-1
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - data:/data/db

volumes:
  data:
