services:
  server:
    build:
      context: .
      dockerfile: server/Dockerfile
      tags:
        - groceries-server
    ports:
      - "8000:8000"
    environment:
      MONGO_HOST: mongodb
      OCI_COMPARTMENT_ID: ocid1.tenancy.oc1..aaaaaaaahj7lgknz3zmkz2tabqidllay6c5bjjfydenbwyevkc6jieaevekq
      OCI_INFERENCE_MODEL_ID: ocid1.generativeaimodel.oc1.us-chicago-1.amaaaaaask7dceyapnibwg42qjhwaxrlqfpreueirtwghiwvv2whsnwmnlva

  app:
    build:
      context: .
      dockerfile: app/Dockerfile
      tags:
        - groceries-app
    ports:
      - "3000:3000"

  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
